.control-acces-background-header {
	height: 450px;
	background:  url('/images/projects/control-acces/header5.png') center no-repeat;
    background-size: cover;
	overflow-y: auto;
	background-position: center 25%; 
	background-repeat: no-repeat;
}

.Img-Control-Acces-lateral{
	height: 400px;
	 width: auto;
}

.Img-Control-Acces-Point {
	border: none;
	border-radius: 5%;
	box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
}

